
/* 背景画像のスタイル */
.tmpImageBGI {
    width: 344px;
    height: 208px;
    background-color: #dd5268;
    background-image:url("./img/TestTemp002.png");
    background-repeat: no-repeat;
    background-position:0% 0%;
    display: inline-block;
  }